
    <div class="dashboard">
        <h1>Dashboard de Usuários</h1>
        <div class="summary">
            <div class="card">
                <h2>Quantidade Total de Usuários</h2>
                <p id="total-users">100</p>
            </div>
        </div>
        <div class="details">
            <table>
                <thead>
                    <tr>
                        <th>Função</th>
                        <th>Quantidade de Usuários</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Engenheiro FE</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Engenheiro BE</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Analista de Dados</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Líder Técnico</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

